<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pengyeah.uidemos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TearDemo"></activity>
        <activity android:name=".CircularDemo" />
        <activity android:name=".Card3DDemo" />
        <activity
            android:name=".FlowDemo2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ElecTimeViewDemo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FlowDemo"
            android:screenOrientation="portrait" />
        <activity android:name=".SmaritisanDemo" />
        <activity android:name=".LevelSelectViewDemo" />
        <activity android:name=".RulerViewDemo" />
        <activity
            android:name=".ClockViewDemo"
            android:screenOrientation="portrait" />
        <activity android:name=".SwitchDemo" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>